extends ../layout

block content
  .page-title
    h1 Brands
  .card-row.grid-aside
    .card
      .card-title All Brands
      table.striped
        tr
          th Brand Name
          th Action
        each brand in brands
          tr
            td #{brand.name} 
              //pre= h.dump(brands)
            td 
              span.edit-cell
                  ul.list-inline
                    li
                      a(href=`/brand/${brand._id}` title="Edit")
                        span.ti-pencil
                    li
                      a.delBrand(href=`/brand/${brand._id}/del` title="Delete")
                        span.ti-trash
    .card
      .card-title Add New
      ._main
        form.stacked(action="/brands" method="POST")
          .control-row
            label(for="name") Name
            input#name(type="text" name="name")
          if user.role == 0
            .control-row
              label(for="store") Store
              select#store(name="store")
                option(value="0") -- Select Store
                each store in stores
                  option(value=store._id) #{store.store.name}
          .control-row  
            button.btn.btn-primary Submit
        